.Navbar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  background: #E7DBCB;
}

.Logo {
  width: 30%;
  height: 100%;
}

.Logo img {
  min-width: 10vh;
  max-width: 10vh;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}